<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moyu.system.sys.mapper.SysOrgMapper">

    <resultMap id="BaseResultMap" type="com.moyu.system.sys.model.entity.SysOrg">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="pid" column="pid" jdbcType="BIGINT"/>
            <result property="parentName" column="parent_name" jdbcType="VARCHAR"/>
            <result property="parentCode" column="parent_code" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="category" column="category" jdbcType="TINYINT"/>
            <result property="orgLevel" column="org_level" jdbcType="TINYINT"/>
            <result property="sortNum" column="sort_num" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="deleteFlag" column="delete_flag" jdbcType="TINYINT"/>
            <result property="extJson" column="ext_json" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,pid,parent_name,
        parent_code,name,code,
        category,org_level,sort_num,
        status,delete_flag,ext_json,
        remark,create_time,create_user,
        update_time,update_user
    </sql>
</mapper>
