<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moyu.system.sys.mapper.SysRelationMapper">

    <resultMap id="BaseResultMap" type="com.moyu.system.sys.model.entity.SysRelation">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="objectId" column="object_id" jdbcType="VARCHAR"/>
            <result property="targetId" column="target_id" jdbcType="VARCHAR"/>
            <result property="relationType" column="relation_type" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,object_id,target_id,
        relation_type,create_time,create_user
    </sql>
</mapper>
